<div class="row">
<div class="col-md-12">


      <div class="tabs-table">
        <nb-card class="col-md-12">
          <!--<div ng-switch-when="accessChecker.isGranted('validation')">
            <nb-route-tabset *nbIsGranted="['validation']" [tabs]="tabs" fullWidth></nb-route-tabset>
          <nb-route-tabset *nbIsGranted="['validation']" [tabs]="tabsApprover" fullWidth></nb-route-tabset>
-->

            <nb-route-tabset [tabs]="tabsApprover" fullWidth></nb-route-tabset>


         <!-- <nb-action *nbIsGranted="['validation']">
            <nb-route-tabset [tabs]="tabs" fullWidth></nb-route-tabset>
          </nb-action>
-->
        </nb-card>
      </div>

  <nb-card class="col-md-12" accent="primary">
    <nb-badge text="new" status="success" position="top right"></nb-badge>
      <nb-card-header>News</nb-card-header>
      <nb-card-body>
        <table class="col-md-12" >
          <tr>
            <td colspan="3"><h5>Am öftesten gekauft</h5></td>
            <td colspan="3"><h5>Beste Bewertungen</h5></td>
          </tr>
          <tr>
            <td width="7rem">
              <i class='nb-heart' style='font-size:72px;'></i>
            </td>
            <td>
              <a [routerLink]="['/processstore-details/'+favoriteProcess.processId]">{{favoriteProcess.processName}}</a>
            </td>
            <td></td>
            <td width="7rem">
              <i class='nb-arrow-dropup' style='font-size:72px;color:#42db7d' ></i>
            </td>
            <td align="left">
              <a [routerLink]="['/processstore-details/'+bestRatedProcess.processId]">{{bestRatedProcess.processName}}</a>
            </td>
            <td></td>
          </tr>
        </table>
      </nb-card-body>
  </nb-card>

</div>
</div>
