  @import '../../@theme/styles/themes';
  @import '~bootstrap/scss/mixins/breakpoints';
  @import '~@nebular/theme/styles/global/bootstrap/breakpoints';
/*
  @include nb-install-component() {
    nb-tabset {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    nb-route-tabset {
      height: 100%;
      display: flex;
      flex-direction: column;
      route-tabs-fg-heading: #a1a1e5;
      route-tabs-selected: #b56c32;
    }

    nb-tab {
      padding: nb-theme(padding);
    }

*/


@include nb-install-component() {
  nb-card {
    width: 200%;

  }
}
  .row {
    width: 100%;
  }


