<div class="row">
  <nb-card>
    <nb-card-header>Profile</nb-card-header>
    <nb-card-body>

        <div class="flex-row text-heading">
          <h5>General Information</h5>
          <div class="flex-column text-body">
            <div>
              Firstname: {{user.firstname}}
            </div>
            <div>
              Lastname: {{user.lastname}}
            </div>
            <div>
              E-Mail: {{user.email}}
            </div>
          </div>
        </div>

        <div class="flex-row text-heading">
          <h5>Security Information</h5>
          <div class="flex-column text-body">
            <div>
              Organization:
            </div>
            <div>
              Role:
            </div>
            <div>
              Member since: 
            </div>
          </div>
        </div>

    </nb-card-body>
  </nb-card>
</div>

