<div class="row">
      <h5 *ngIf="!myProcesses || myProcesses.length < 1">Sie haben derzeit keine Prozesse!</h5>
      <table class="table table-striped" *ngIf="myProcesses && myProcesses.length > 0">
         <thead>
            <tr>
               <th>#</th>
               <th>Prozessname</th>
               <th>Letzte Änderung</th>
               <th>Aktion</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let process of myProcesses">
               <td>{{ process.piId }}</td>
               <td>{{ process.processName }}</td>
               <td>{{ process.lastChanged | date:'dd.MM.yyyy HH:mm:ss'}}</td>
               <td>
                 <button class="btn btn-primary btn-sm" (click)="showProcess(process.piId)">Anzeigen</button>
               </td>
            </tr>
         </tbody>
      </table>

 </div>
