<div class="row">
    <div class="col-md-12">
      <h5 *ngIf="!reviewProcesses || reviewProcesses.length < 1">Es gibt keine zu validierenden Prozesse!</h5>
      <table class="table table-striped" *ngIf="reviewProcesses && reviewProcesses.length > 0">
         <thead>
            <tr>
               <th>#</th>
               <th>Prozessname</th>
               <th>Erstelldatum</th>
               <th>Aktion</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let process of reviewProcesses">
               <td>{{ process.processId }}</td>
               <td>{{ process.processName }}</td>
               <td>{{ process.processCreatedAt | date:'dd.MM.yyyy HH:mm:ss'}}</td>
               <!--<td>{{process.organization}}></td>-->
               <td>
                 <button class="btn btn-primary btn-sm" (click)="showProcessDetails(process.processId, process.processName, process.processVersion, process.processPrice, process.processCreator, process.processDescription)">Anzeigen</button>
               </td>
            </tr>
         </tbody>
      </table>
 </div>
</div>
